body {
    background-color: black;
    /* background-image: url('/img/NeonMoutain.gif'); */
    background-image: url('/img/NeonMoutain175.gif');
    /* background-image: url('/img/NeonCarMoon.gif'); */
    color: white;
    font-family:'Courier New', Courier, monospace
}

.flexbox {
    
    display: flex;
    justify-content: center;
}

h1 {
    color: hotpink;
    text-align: center;
    text-shadow: 0 0 4px red, 0 0 8px purple;
}

h2 {
    color: hotpink;
    font-size: 24pt;
    text-shadow: 0 0 4px red, 0 0 8px purple;
}

.picture{
    flex-basis: 60%;
    max-width: 100%;
    padding-top: 40px;
    min-height: 204px;
}

.course_links, .documents {
    background-color: black;
    border: 2pt solid yellow;
    min-width: 150px;
    max-width: 100%;
    height: auto; /* change height to auto*/
    max-height: 200px; 
    margin: 40px;
    flex-basis: 20%;
}

ul.tick{ 
    list-style-position: inside;
    list-style: square inside url("/img/NeonSquare25.gif");
    color: hotpink;
}
/* .course_links ul, .documents ul {
    list-style-type: square;
} */

.course_links a, .documents a {
    color: white;
    text-decoration: none;
}

.course_links a:hover, .documents a:hover {
    color: hotpink;

}

.course_links p, .documents p {
    font-weight: bold;
    color: hotpink;
    text-align: center;
}

.middle {
    margin-left: 70px;
    margin-right: 70px;
    background-color: black;
    text-align: center;
    color: yellow;
    text-shadow: 0 0 4px yellowgreen, 0 0 4px white;
    flex-basis: 60%;
}

.table_header {
    border: 2px solid hotpink;
}

.center {
    width: 100%;
}

.center td{
    border: 1px solid hotpink;
}

.paragraph{
    padding-left: 20px;
    padding-right: 20px;
}
